:host {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/737/401/247/vaporwave-landscape-windows-95-windows-98-wallpaper-preview.jpg");
  display: block;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
