<nav>
  <ul nz-menu nzMode="inline">
    <li nz-submenu nzTitle="Users" nzIcon="user" nzOpen>
      <ul>
        <li nz-menu-item routerLink="/create-user">create user</li>
        <li nz-menu-item>Get user details</li>
        <li nz-menu-item>Update user details</li>
        <li nz-menu-item>Delete user</li>
      </ul>
    </li>
    <li nz-submenu nzTitle="Posts" nzIcon="appstore" nzOpen>
      <ul>
        <li nz-menu-item>Creates a user post</li>
        <li nz-menu-item>Creates a post comment</li>
        <li nz-menu-item>Creates a user todo</li>
      </ul>
    </li>
  </ul>
</nav>

