<div class="container">
  <h4>hello, there!</h4>
  <p>this is your guide to the website!</p>
  <p><strong style="color: rgb(135, 230, 225)">✨ 98's ✨</strong></p>

  <ul>
    <li>
      <button class="nav-item" routerLink="/create-user">create user</button>:
      in this page you can create a user
      <span>in makes a POST request</span>
    </li>
    <li>
      <button class="nav-item" routerLink="/users">users</button>: in this page
      you can view all users.
      <span>it makes a post request</span>
    </li>
    <li>
      <div class="title-bar-controls">
        <button aria-label="Help"></button>
        <button aria-label="Close"></button>: you can also edit and delete users
      </div>
      <span>make PUT and DELETE requests</span>
    </li>
  </ul>
</div>
