<div class="container">
  <div class="search-form">
    <app-user-search-bar
      [(statusFilter)]="statusFilter"
      [(searchTerm)]="searchTerm"
    ></app-user-search-bar>
  </div>
  <ng-container *ngIf="usersList.length; else loading">
    <div class="sunken-panel">
      <table class="interactive">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let user of usersList
                | userSearchFilter : searchTerm : statusFilter
            "
            [ngClass]="user.status === 'active' ? 'active' : 'inactive'"
          >
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.gender }}</td>
            <td>{{ user.status }}</td>
            <td>
              <div class="title-bar-controls">
                <button
                  aria-label="Help"
                  routerLink="/users/{{ user?.id }}"
                ></button>
                <button
                  aria-label="Close"
                  (click)="deleteUder(user)"
                  [disabled]="isLoading"
                ></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
  <ng-template #loading>
    <img src="https://i.makeagif.com/media/11-03-2016/78S4p_.gif" alt="" />
  </ng-template>
</div>
