.active {
  background-color: #00007b;
  color: #ffffff;
}
.inactive {
  background-color: #ffffff;
}
th,
tr,
td {
  font-size: 18px;
}
:host {
  background-image: url("https://media.istockphoto.com/id/1204024766/vector/vaporwave-abstract-checkered-background.jpg?s=612x612&w=0&k=20&c=IgMvggfEwqka1PXYKPgqmJ_LvrJiJm7LRr9W04mVQx4=");
  display: block;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
