<div class="container">
  <h1>Users List:</h1>
  <ul class="list">
    <li
      *ngFor="let user of usersList"
      [ngClass]="user.status === 'active' ? 'active' : 'inactive'"
    >
      <div class="controls">
        <button class="btn-add" routerLink="/users/{{ user?.id }}">
          view user
        </button>
      </div>
      <div>Name: {{ user?.name }}</div>
      <div>Email: {{ user?.email }}</div>
      <div>Gender: {{ user?.gender }}</div>
      <div>Status: {{ user?.status }}</div>
    </li>
  </ul>
</div>
