<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="emailErrorTpl">
      <input
        nz-input
        formControlName="email"
        placeholder="email"
        type="email"
      />
      <ng-template #emailErrorTpl let-control>
        @if (control.errors?.['email']) { The input is not valid E-mail! } @if
        (control.errors?.['required']) { Please input your E-mail! }
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>name</nz-form-label>
    <nz-form-control
      [nzSpan]="12"
      nzHasFeedback
      nzValidatingTip="Validating..."
      [nzErrorTip]="userErrorTpl"
    >
      <input nz-input formControlName="name" placeholder="write name" />
      <ng-template #userErrorTpl let-control>
        @if (control.errors?.['required']) { Please input your username! }
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Gender</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-radio-group formControlName="gender">
        <label nz-radio nzValue="male">Male</label>
        <label nz-radio nzValue="female">Female</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">
        Submit
      </button>
      <button nz-button (click)="resetForm($event)">Reset</button>
    </nz-form-control>
  </nz-form-item>
</form>
