form {
  display: flex;
  flex-direction: column;
  padding: 25px;
}
input {
  margin-bottom: 5px;
  font-size: 18px;
  padding: 10px;
}
label {
  font-size: 18px;
}
legend {
  font-size: 18px;
}
fieldset {
  margin: 10px 0;
}
small {
  color: red;
}
