<div class="container">
  <h1>Add user:</h1>
  <form [formGroup]="addUserForm" (ngSubmit)="addUserSubmit()">
    <label for="email">Email:</label>
    <input formControlName="email" type="email" id="email" />
    <ng-container *ngIf="addUserForm.get('email')?.touched">
      <small *ngIf="addUserForm.get('email')?.hasError('email')">
        Please provide a valid email format!
      </small>
      <small *ngIf="addUserForm.get('email')?.hasError('required')">
        This field is required!
      </small>
    </ng-container>
    <!--  -->
    <label for="name">Name:</label>
    <input formControlName="name" type="text" id="name" />
    <ng-container
      *ngIf="
        addUserForm.get('name')?.invalid && addUserForm.get('name')?.touched
      "
    >
      <small>This field is required!</small>
    </ng-container>

    <!--  -->
    <label>Gender:</label>
    <div class="radio-wrapper">
      <label for="female">Female</label>
      <input
        type="radio"
        formControlName="gender"
        name="gender"
        value="female"
        id="female"
      />
      <label for="male">Male</label>
      <input
        type="radio"
        formControlName="gender"
        name="gender"
        value="male"
        id="male"
      />
      <ng-container
        *ngIf="
          addUserForm.get('gender')?.invalid &&
          addUserForm.get('gender')?.touched
        "
      >
        <small>This field is required!</small>
      </ng-container>
    </div>
    <!--  -->
    <label>status:</label>
    <div class="radio-wrapper">
      <label for="active">active</label>
      <input
        type="radio"
        formControlName="status"
        name="status"
        value="active"
        id="active"
      />
      <label for="inactive">inactive</label>
      <input
        type="radio"
        formControlName="status"
        name="status"
        value="inactive"
        id="inactive"
      />
      <ng-container
        *ngIf="
          addUserForm.get('status')?.invalid &&
          addUserForm.get('status')?.touched
        "
      >
        <small>This field is required!</small>
      </ng-container>
    </div>
    <!--  -->
    <input
      type="submit"
      [disabled]="reqLoading"
      [value]="!reqLoading ? 'send' : 'loading...'"
    />
  </form>
</div>
